Repository nozgurozturk/openweather-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore: rename package name and re-configure .swcr
  .swcrc
  package.json
Due: prettier --write

test(forecast): add end-to-end forecast testing
  test/book.test.ts
  test/config/globalSetup.ts
  test/config/globalTeardown.ts
  test/forecast.test.ts
  test/helpers/graphql.ts
  test/mocks/openweather/geo/amsterdam.json
  test/mocks/openweather/geo/berlin.json
  test/mocks/openweather/onecall/amsterdam.imperial.json
  test/mocks/openweather/onecall/amsterdam.metric.json
  test/mocks/openweather/onecall/berlin.imperial.json
  test/mocks/openweather/onecall/berlin.metric.json
Due: eslint, prettier --write

docs(api): add graphql schemas
  api/graphql/forecast.graphql
Due: none

chore: update configuration files
  .cSpell.json
  .env.example
  .swcrc
  README.md
  package.json
  yarn.lock
Due: prettier --write

ci: add mock dockerfile and update workflow configs
  .github/workflows/aws.yaml
  .github/workflows/ci.yaml
  docker/Dockerfile.openweather
  docker/openweather-api.json
Due: prettier --write

feat(forecast): add forecast api and handler function
  functions/forecast.ts
  src/application/app.ts
  src/application/query/forecast.handler.ts
  src/config/config.interface.ts
  src/config/config.service.ts
  src/domain/forecasting/forecast.ts
  src/domain/forecasting/location.ts
  src/domain/forecasting/planetary.ts
  src/domain/forecasting/temperature.ts
  src/domain/forecasting/weather.ts
  src/domain/forecasting/wind.ts
  src/index.ts
  src/infrastructure/delivery/graphql/forecast/forecast.interface.ts
  src/infrastructure/delivery/graphql/forecast/forecast.mapper.ts
  src/infrastructure/delivery/graphql/forecast/forecast.resolver.ts
  src/infrastructure/logger/logger.decorator.ts
  src/infrastructure/logger/logger.interface.ts
  src/infrastructure/logger/logger.ts
  src/infrastructure/server/context/graphql-express.context.ts
  src/infrastructure/server/context/graphql-lambda.context.ts
  src/infrastructure/server/context/graphql.context.ts
  src/infrastructure/server/graphql.express.ts
  src/infrastructure/server/graphql.lambda.ts
  src/infrastructure/weather/openweathermap.service.ts
  src/infrastructure/weather/types/openweathermap.ts
  src/infrastructure/weather/weather.interface.ts
Due: eslint, prettier --write

Update README.md
  README.md
Due: prettier --write

build: fix packaging without graphql schema file
  .DS_Store
  package.json
  webpack.config.js
  yarn.lock
Due: prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.{json,md,ts,yml,yaml}
